.menu {
    display: flex;
    flex-basis: 250px;
    background-color: dodgerblue;
}

.menu nav {
    flex: 1;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    display: flex;
}

.menu li a {
    flex: 1;
    text-decoration: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding: 10px;
    transition: all .2s ease;
}

.menu li a:hover {
    background-color: #00000030;
    
}